{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post" name=form1>
        <div class="form-floating mb-3" style="width:250px; margin:auto;">
                <input type="email" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
                <label for="floatingInput">Email Address</label>
        </div>
        <p id ="p" style="color:red; font-weight:bold; display:none;">You have entered an invalid email address!</p>
        <div class="form-floating mb-3" style="width:250px; margin:auto;">
            <input class="form-control" id="floatingInput" name="password" placeholder="Password" type="password">
            <label for="floatingInput">Password</label>
        </div>
        <input type="checkbox" id="show-password" onclick="myfunction()"> <b>Show Password</b><br/><br/>
        <button class="btn btn-primary" type="submit" onclick="ValidateEmail(document.form1.username)">Log In</button>
    </form>
    <script>
        document.querySelector("#show-password").addEventListener("input", function() {
            document.querySelector('[name="password"]').type = this.checked ? "text" : "password";
            document.querySelector('[name="confirm"]').type = this.checked ? "text" : "password";

          });
          function ValidateEmail(username)
            {
             var x = document.getElementById("p");
             var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
             if (username.value.match(mailformat))
              {
                x.style.display = "none";
                return (true)
              }
                x.style.display = "block";
                return (false)
            }
    </script>
{% endblock %}
